---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Gittisak ',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'gitmint-go',
        href: 'https://github.com/gitmint-th',
        target: '_blank',
        icon: 'tabler:download',
      },
      { text: 'ดูรายละเอียด', href: '#features' },
    ]}
    image={{ src: '~/assets/images/hero.png', alt: 'Gittisak Hero Image' }}
  >
    <Fragment slot="title">
      สาธิต การพัฒนา.app <span class="hidden xl:inline">ซอฟต์แวร์</span>
      <span class="text-accent dark:text-white highlight"> Astro 4.0</span> + Tailwind CSS
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">AstroWind</span> คือเทมเพลตฟรีที่ปรับแต่งได้และพร้อมใช้งานจริงสำหรับ Astro 4.0 + Tailwind CSS.</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">AstroWind: พร้อมใช้งานจริง.</span>
      เหมาะสำหรับสตาร์ทอัพ ธุรกิจขนาดเล็ก เว็บไซต์ SaaS พอร์ตโฟลิโอระดับมืออาชีพ เว็บไซต์การตลาด แลนดิ้งเพจ,
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="คุณสมบัติ"
    title="สิ่งที่คุณได้รับจาก AstroWind"
    subtitle="หนึ่งในเทมเพลตที่มีความเป็นมืออาชีพและครอบคลุมที่สุดในตลาดปัจจุบัน ธีม Astro ที่ติดดาวและแยกมากที่สุดในปี 2022."
    items={[
      {
        title: 'Astro + Tailwind CSS Integration',
        description:
          'การบูรณาการอย่างราบรื่นระหว่างสองเฟรมเวิร์กที่ยอดเยี่ยมที่ให้ผลผลิต ประสิทธิภาพ และความคล่องตัวสูง.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'คอมโพเนนต์พร้อมใช้งาน',
        description:
          'วิดเจ็ตที่สร้างด้วย Tailwind CSS พร้อมใช้ในเว็บไซต์การตลาด, SaaS, บล็อก, โปรไฟล์ส่วนตัว, ธุรกิจขนาดเล็ก..',
        icon: 'tabler:components',
      },
      {
        title: 'แนวทางปฏิบัติที่ดีที่สุด',
        description:
          'การสร้างเว็บไซต์ที่ปลอดภัย มีประสิทธิภาพ และเป็นมิตรกับผู้ใช้ที่มอบประสบการณ์ที่ยอดเยี่ยมและคุณค่าที่ยั่งยืน.',
        icon: 'tabler:list-check',
      },
      {
        title: 'โอเพ่นซอร์ส',
        description:
          'สร้างจากซอฟต์แวร์ฟรีที่สามารถใช้งาน แจกจ่าย และเปิดให้ผู้พัฒนาเข้าไปปรับแต่งโค้ดได้ จึงทำให้ซอฟต์แวร์ต้นฉบับเดิม ๆ ถูกพัฒนาเพิ่มจากเดิม มีการแก้ไขข้อบกพร่อง.',
        icon: 'tabler:rocket',
      },
      {
        title: 'ภายใต้เงื่อนไขใบอนุญาต (MIT)',
        description:
          'แต่หากคุณเป็นองค์กรขนาดใหญ่และมืออาชีพ ควรสนับสนุน AstroWind, Netlify หรือแบ่งปันน้ำใจสนับสนุนฉัน: ไม่บังคับ, มิ้น จิรภิญญา',
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'เปิดรับไอเดียใหม่และการมีส่วนร่วม',
        description:
          'การเปิดรับไอเดียใหม่และการมีส่วนร่วมเป็นหัวใจสำคัญในการสร้างนวัตกรรม ความร่วมมือ และประสบการณ์ผู้ใช้ที่มีชีวิตชีวา.',
        icon: 'tabler:bulb',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="ภายในเทมเพลต"
    title="โครงสร้าง AstroWind: สนุกและใช้งานได้จริง!"
    items={[
      {
        title: 'สร้างบน Astro 4.0',
        description:
          'ได้รับประโยชน์จากประสิทธิภาพและฟีเจอร์ที่เป็นมิตรกับนักพัฒนาของ static site generator สมัยใหม่นี้.',
      },
      {
        title: 'ตกแต่งด้วย Tailwind CSS',
        description:
          'ออกแบบได้รวดเร็วและสม่ำเสมอด้วย utility-first CSS framework ที่ได้รับความนิยมสูงนี้.',
      },
      {
        title: 'รองรับทุกเบราว์เซอร์',
        description:
          'มั่นใจว่าเว็บไซต์ของคุณจะแสดงผลและทำงานได้อย่างสม่ำเสมอในทุกเบราว์เซอร์ มอบประสบการณ์ที่ราบรื่นแก่ผู้ใช้ทุกคน.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">สร้างบนรากฐานสมัยใหม่</h3>
      สร้างข้อได้เปรียบเหนือคู่แข่งด้วยการนำแนวทางที่ดีที่สุดในอุตสาหกรรมมาใช้
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'ปรับแต่งได้สูง',
        description: `ปรับแต่งเทมเพลตได้ง่ายดายให้ตรงกับเอกลักษณ์และความต้องการของแบรนด์คุณ ทำให้เว็บไซต์ของคุณโดดเด่นและช่วยประหยัดเวลา.`,
      },
      {
        title: 'ตัวเลือกเลย์เอาต์หลากหลาย',
        description:
          'สำรวจตัวเลือกเลย์เอาต์หลากหลายรูปแบบ เพื่อค้นหาโครงสร้างที่นำเสนอเนื้อหาของคุณได้ดีที่สุด เพิ่มประสบการณ์และการนำทางของผู้ใช้.',
      },
      {
        title: 'ดีไซน์รองรับทุกอุปกรณ์',
        description:
          "มั่นใจว่าเว็บไซต์ของคุณจะแสดงผลได้อย่างเหมาะสมบนอุปกรณ์และขนาดหน้าจอที่หลากหลาย มอบประสบการณ์ที่สม่ำเสมอและน่าประทับใจ.",
      },
      {
        title: 'ผสานสื่อมัลติมีเดีย',
        description:
          'ผสานรวมรูปภาพ วิดีโอ และสื่อมัลติมีเดียต่าง ๆ ได้อย่างไร้รอยต่อ เพื่อเสริมเนื้อหาและดึงดูดผู้เข้าชมอย่างมีประสิทธิภาพ.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">มั่นใจว่าเว็บไซต์ของคุณสะท้อนตัวตนของคุณอย่างแท้จริง.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'เพิ่มการมีส่วนร่วมของผู้ใช้',
        description:
          'ดึงดูดผู้ใช้ด้วยองค์ประกอบที่โต้ตอบได้ การนำทางที่เข้าใจง่าย และการจัดวางที่สวยงาม ส่งเสริมให้ผู้เข้าชมอยู่ในเว็บไซต์นานขึ้น.',
      },
      {
        title: 'ปรับปรุงอย่างต่อเนื่อง',
        description:
          'ปรับปรุงเว็บไซต์อย่างต่อเนื่องให้ทันสมัยอยู่เสมอ ด้วยการอัปเดตและพัฒนาเทคโนโลยีใหม่ ๆ.',
      },
      {
        title: 'ประหยัดเวลาและทรัพยากร',
        description:
          'ไม่ต้องเริ่มสร้างเว็บไซต์ใหม่ทั้งหมด สามารถเปิดตัวเว็บไซต์ของคุณได้รวดเร็วด้วย AstroWind.',
      },
      {
        title: 'ชุมชนสนับสนุน',
        description: `เข้าร่วมชุมชน AstroWind ที่เติบโตอย่างต่อเนื่อง เพื่อรับข้อมูล ความช่วยเหลือ และทรัพยากรต่าง ๆ ให้คุณไม่ต้องเดินทางสายพัฒนาเว็บเพียงลำพัง.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">เพื่อพัฒนาทักษะของฉันเท่านั้น คุณสามารถแก้ไขได้: มิ้นน้อย.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title="สร้างเว็บไซต์ในฝันของคุณได้อย่างรวดเร็วด้วย AstroWind."
    items={[
      {
        title: 'ขั้นตอนที่ 1: <span class="font-medium">ดาวน์โหลด</span>',
        description:
          "เริ่มต้นด้วย GitHub! จะ fork เทมเพลต AstroWind หรือคลิก 'Use this template' ก็ได้ เพียงไม่กี่คลิก คุณก็วางรากฐานสำหรับเว็บไซต์ของคุณแล้ว.",
        icon: 'tabler:package',
      },
      {
        title: 'ขั้นตอนที่ 2: <span class="font-medium">เพิ่มเนื้อหา</em>',
        description:
          "ใส่เนื้อหาของคุณลงไป เพิ่มรูปภาพ ข้อความ และสิ่งที่ต้องการ เพื่อเติมชีวิตให้กับเว็บไซต์ของคุณ เนื้อหาคือสิ่งที่บอกเรื่องราวของคุณ ทำให้เว็บไซต์น่าสนใจ.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'ขั้นตอนที่ 3: <span class="font-medium">ปรับแต่งสไตล์</span>',
        description:
          'ปรับแต่งสี ฟอนต์ และเลย์เอาต์ตามสไตล์ของคุณ ให้เว็บไซต์มีเอกลักษณ์เฉพาะตัว การออกแบบที่พิถีพิถันช่วยให้ผู้ใช้ได้รับประสบการณ์ที่ดี.',
        icon: 'tabler:paint',
      },
      {
        title: 'พร้อมใช้งาน!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="วิดเจ็ตที่ใช้บ่อยที่สุด"
    subtitle="มีคอมโพเนนต์ที่ใช้บ่อยสำหรับสร้างเว็บไซต์ด้วย Tailwind CSS"
    tagline="คอมโพเนนต์"
    items={[
      {
        title: 'ส่วนหัว',
        description: "เหมือนกับการขับรถโดยไม่มี GPS เว็บไซต์ต้องมีส่วนหัวเพื่อบอกทิศทาง.",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'ส่วน Hero',
        description:
          "เหมือนกับฮีโร่ที่ปรากฏตัวอย่างยิ่งใหญ่ในหน้าแรก.",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'คุณสมบัติ',
        description:
          'แสดงจุดเด่นและความสามารถของเว็บไซต์อย่างเต็มที่.',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'เนื้อหา',
        description:
          "เนื้อหาคือหัวใจของเว็บไซต์ ถ้าไม่มีเนื้อหาก็เหมือนเดินดูร้านค้าเฉย ๆ.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'ปุ่มเรียกร้องให้ทำบางอย่าง',
        description:
          'เหมือนเพื่อนที่คอยกระตุ้นให้คุณลงมือทำ.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'ส่วนราคา',
        description: 'เหมือนเมนูของหวานในเว็บไซต์ มีตัวเลือกที่น่าสนใจให้เลือก.',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'คำรับรอง',
        description: 'มุมบอกเล่าประสบการณ์จากผู้ใช้งานจริง.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'ติดต่อ',
        description:
          'เหมือนกล่องจดหมายดิจิทัล ส่งข้อความหรือสอบถามได้ทันที.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'ส่วนท้าย',
        description: "เหมือนเครดิตท้ายภาพยนตร์ที่มีเซอร์ไพรส์ซ่อนอยู่.",
        icon: 'flat-color-icons:database',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="ค้นพบเนื้อหาเพิ่มเติมในบล็อกของเรา"
    information={`บล็อกนี้ใช้สำหรับแสดงเอกสารประกอบ AstroWind
                        แต่ละบทความใหม่จะเป็นอีกหนึ่งก้าวสำคัญที่คุณควรรู้ เพื่อเป็นผู้เชี่ยวชาญในการสร้างเว็บไซต์ด้วย Astro + Tailwind CSS
                        Astro เป็นเทคโนโลยีที่น่าสนใจมาก ขอบคุณค่ะ
                `}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="คำถามที่พบบ่อย"
    subtitle="เจาะลึกคำถามเหล่านี้เพื่อเข้าใจคุณสมบัติที่ทรงพลังของ AstroWind และวิธีที่จะช่วยยกระดับการพัฒนาเว็บไซต์ของคุณ"
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'ทำไมต้อง AstroWind?',
        description:
          "Michael Knight นักเดินเดี่ยวผู้ต่อสู้เพื่อความยุติธรรมและช่วยเหลือผู้บริสุทธิ์ในโลกที่อาชญากรมีอำนาจเหนือกฎหมาย.",
      },
      {
        title: 'ต้องมีอะไรในการเริ่มต้น?',
        description:
          'อวกาศคือขอบเขตสุดท้าย นี่คือภารกิจของยาน Starship Enterprise ที่จะสำรวจโลกใหม่ หลายคนบอกว่าการสำรวจคือโชคชะตา แต่จริง ๆ แล้วเป็นหน้าที่ของเราเพื่อคนรุ่นต่อไป.',
      },
      {
        title: 'ติดตั้งเทมเพลต Astro + Tailwind CSS อย่างไร?',
        description:
          "วิธีการสร้างรายการทีวีคือสร้างตอนนำร่องก่อน แล้วนำไปเสนอผู้ผลิต ถ้าผู้ผลิตชอบก็จะสร้างตอนต่อไป.",
      },
      {
        title: "มีอะไรที่คุณไม่เข้าใจ?",
        description:
          "ดอกไม้ในสวนของฉัน ปริศนาในใจฉัน หัวใจวายไม่เคยหยุดหมีใหญ่เลย ฉันไม่รู้ด้วยซ้ำว่าเราเรียกเขาว่าหมีใหญ่.",
      },
      {
        title: 'มีอะไรที่คุณอยากลองใหม่อีกครั้ง?',
        description:
          "ธุรกิจใหญ่พอที่จะเข้าตลาด NASDAQ ล้มละลาย หายไป! ไม่มีฉันก็ไม่มีอยู่จริง คุณไม่รู้จริง ๆ ว่าคุณกำลังคุยกับใคร ให้ฉันบอกคุณ.",
      },
      {
        title: 'ถ้าคุณถามได้แค่คำถามเดียวกับทุกคน คุณจะถามอะไร?',
        description:
          "นี่ไม่ใช่เรื่องการแก้แค้น แต่เป็นเรื่องความยุติธรรม หลายสิ่งเปลี่ยนไปในสิบสองปี พลเรือเอก ดีที่รู้ไว้ ฉันเบื่อที่จะได้ยินว่าฉันดูเด็ก.",
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'ดาวน์โหลด', amount: '132K' },
      { title: 'ดาว', amount: '24.8K' },
      { title: 'ฟอร์ก', amount: '10.3K' },
      { title: 'ผู้ใช้', amount: '48.4K' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'ดาวน์โหลดเทมเพลต',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      Astro&nbsp;+&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Tailwind CSS</span>
    </Fragment>

    <Fragment slot="subtitle">
      ประหลาดใจไปกับตัวเลขจำลองขนาดใหญ่ที่คุณเห็นในหน้านี้ <br class="hidden md:inline" />อย่ารอช้า! :P
    </Fragment>
  </CallToAction>
</Layout>
